<h1><%= title %></h1>
<p><form method="POST" action="/intr"><input type="text" name="who"><input type="submit"></form></p>
<ul>
<% intr.forEach(function(interrupt) { %> 
<li><%= interrupt.time %> by <%= interrupt.who %> <form method="POST" action="/delete"><input type="hidden" name="_method" value="delete"><input type="hidden" name="key" value="<%= interrupt._id %>"><input type="submit" value="delete"></form></li>
<% }); %>
</ul>
